on: [push]

name: Cargo

jobs:
  check:
    name: Rust project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install latest stable
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt, clippy
      - run: sudo apt-get update && sudo apt-get install -y libdbus-1-dev pkg-config

      - name: Run cargo fmt
        run: cargo fmt --check

      - name: Run cargo check
        run: cargo check --all-targets --all-features

      - name: Run cargo clippy
        run: cargo clippy --all-targets --all-features
